*,
*::after,
*::before {
    outline: none!important;
}

body {
    font-family: 'Droid Sans', sans-serif;
}

img {
    max-width: 100%;
    max-height: 100%;
}

#mobile {
    position: relative;
    max-width: 50%;
    margin: 2em auto 0 auto;
}

#chat-header nav.navbar-inverse .navbar-right {
    margin-right: 0;
}

#chat-header .navbar-collapse {
    padding: 0;
}

#chat-header > nav.navbar-inverse {
    background-color: hsla(202, 9%, 24%, 1);
    border-color: hsla(202, 9%, 24%, 1);
    margin-bottom: 0;
    border-radius: 5px 5px 0 0;
    border-top: none;
}

#chat-main,
#chat-header > nav.navbar-inverse li.active a {
    background-color: #262C2F;
}

#chat-header > nav.navbar-inverse li a {
    border-top: 2px solid transparent;
}

#chat-header > nav.navbar-inverse li.active a {
    border-color: #00ADD9;
}

#chat-header > nav.navbar-inverse ul li:first-child a {
    border-radius: 5px 0 0;
}

#chat-header > nav.navbar-inverse ul.nav li ul li a {
    border-radius: 0;
}

#chat-main {
    border-radius: 0 0 5px 5px;
    color: #fff;
}

nav.navbar-inverse li a {
    color: #fff;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .open > a:hover,
nav.navbar-inverse li a.active,
nav.navbar-inverse li a:hover {
    background-color: #262C2F;
    color: #fff;
}

.navbar-inverse .dropdown-menu {
    background-color: hsla(202, 9%, 24%, 1);
}

#chat-login {
    margin: 1em 0;
}

#status-message {
    border-radius: 0;
}

#messages,
#messages li {
    margin: 0;
    padding: 0;
    list-style: none;
}

#chat-main #messages {
    height: 20em;
    overflow: auto;
}

#controls .input-group-addon {
    background-color: hsl(208, 56%, 46%);
    border-color: hsl(208, 56%, 46%);
    color: #fff;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
}

#messages:empty {
    display: flex;
    align-items: center;
    justify-content: center;
}

#messages li#loading {
    margin: 0 auto;
    background: url(../../img/loading.svg) center no-repeat;
    background-size: 80px;
    text-indent: 999px;
    height: 100%;
}

#messages:empty::after {
    content: "Nenhuma mensagem";
}

#messages li.line {
    margin: 1em 0;
}

.avatar {
    float: left;
}

.message {
    margin: 0 .5em 0 3.5em;
    background-color: hsla(100, 100%, 100%, .1);
    padding: .5em 1em;
    border-radius: 5px;
    position: relative;
    word-wrap: break-word;
    transition: all ease-in-out .2s;
}

.message::before {
    content: " ";
    width: 0;
    height: 0;
    position: absolute;
    border: transparent 5px solid;
    border-right-color: hsla(100, 100%, 100%, .1);
    left: -10px;
}

.avatar img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.message.editing[contenteditable="true"] {
    background-color: hsl(208, 56%, 46%);
}

.message.editing[contenteditable="true"]::before {
    border-right-color: hsl(208, 56%, 46%);
}

#messages::-webkit-scrollbar {
    width: .5em;
    background-color: hsl(72, 7%, 13%);
}

#messages::-webkit-scrollbar-thumb {
    background-color: hsl(0, 0%, 62%);
    outline: 1px solid hsl(0, 0%, 62%);
}

pre {
    background: transparent;
    border: 0;
    border-radius: 0;
}

#notifications {
    display: none;
}
